### Entendo banco de dados

Atributos previsores = client, income, age, loan

Atributo classe = default

### Colunas do banco de dados
- 'clientid' - ID do cliente (campo auto-incremento), 
- 'income' - salário/renda do cliente (formato anual), 
- 'age' - idade do cliente, 
- 'loan' - valor do emprestimo, 
- 'default' - 0=não pagou, 1=pagou.

In [1]:
# importando biblioteca pandas

import pandas as pd

In [3]:
# lendo banco de dados

base = pd.read_csv('C:/Users/Renato/OneDrive/github/generative_algorithm/Evolutionary_computing/2_Machine_Learning/2_Machine_Learning_e_Data_Science_com_Python/Secao 3 - Pre-processamento com Pandas e scikit-learm/credit_data.csv')

In [4]:
# examinando o número de linhas e colunas do banco de dados

base.shape

(2000, 5)

In [5]:
# recebebdo nomes das colunas

base.columns

Index(['i#clientid', 'income', 'age', 'loan', 'c#default'], dtype='object')

In [6]:
# recebendo as primeiras linhas do banco

base.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [7]:
# vesualizando estatísticas

base.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

### Entendendo as estatísticas

- count -> quantidade
- mean -> média
- std -> desvio padrão
- min -> valor mínimo
- max -> valor máximo
- 25% -> primeiro quartil
- 50% -> mediana (quartil)
- 75% -> terceiro quartil

### Tipos de variáveis

- clientid -> variáveis categóricas nominal (caracterisitica única, tal como um nome);

- income -> variável númerica continua (float);

- age -> variável númerica continua (float). Se arredondar converte discreta (integer);

- loan -> variável númerica continua (float);

- default -> variável númerica discreta;